[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=address book
Comment=addr_ap_address_book_thumb
Exec=/usr/bin/osso-addressbook
X-Osso-Service=osso_addressbook
Icon=qgn_list_addressbook
StartupWMClass=osso-addressbook
X-Osso-URI-Actions=mailto;xmpp;sipto;sip;
MimeType=text/x-vcard

[X-Osso-URI-Action Handler mailto]
Method=add_account
Name=addr_me_cs_addtocontacts
TranslationDomain=osso-addressbook

[X-Osso-URI-Action Handler xmpp]
Method=add_account
Name=addr_me_cs_addtocontacts
TranslationDomain=osso-addressbook

[X-Osso-URI-Action Handler sipto]
Method=add_account
Name=addr_me_cs_addtocontacts
TranslationDomain=osso-addressbook

[X-Osso-URI-Action Handler sip]
Method=add_account
Name=addr_me_cs_addtocontacts
TranslationDomain=osso-addressbook
